body {
    margin: 0 auto;
    /* background-image: url("/src/images/grey-background.jpg");  */
    /* background-image: url('src/images/pink-gad96737b1_1920.jpg'); */
    background-image: url("/src/images/wallpaperbetter.jpg");
    width: 100vw;
    height: 100vh;
}

@font-face {
    font-family: titleFont;
    src: url('src/Font/Creepy\ Blood.otf');
}


#container-fluid {
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    left: 0px;
}

#landing-text {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copy {
    height: 60%;
    width: 60%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 200px;
    font-family: titleFont;
    color: #7cc539;
}

.para {
    font-family: monospace;
    font-size: 20px;
    color: #7cc539;
    text-align: center;
    width: 50%;
}

#game-title {
    font-family: titleFont;
    font-size: 400px;
    color: #7cc539;
    align-items: center;
    top: calc(50% - 100px);
    left: calc(50% - 350px); 
}

#landing-pg-btns {
    float: left;
    justify-content: center;
    flex-direction: row;
    flex-shrink: 0;  
    gap: 50px; 
    font-family: titleFont;
    font-size: 50px;
    background-color: none;
    text-decoration: none;
    color: #ef85c3;
    text-decoration: none;
    bottom: 0;
}

.button a { 
    bottom: 0;
    font-family: titleFont;
    font-size: 50px;
    color: #ef85c3;
    text-decoration: none;
}

#start-game {
    /* float: left; */
    /* justify-content: center;
    flex-direction: row;
    flex-shrink: 0;   */
    /* gap: 50px;  */
    font-family: titleFont;
    font-size: 50px;
    background-color: none;
    color: #ef85c3;
    text-decoration: none;
    bottom: 0;
}



#btn-PlayAgain {
    display: flex;
    align-items: center; 
    bottom: 0;
    font-family: titleFont;
    font-size: 50px;
    background-color: none;
    color: #ef85c3;
    text-decoration: none;
    z-index: 3;
} 


#cards {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
    width: 90vw;
    padding: 20px;
}

.card {
    width: 12vw;
    height: 13vw;
    border: 0.5px solid gray;
    overflow: hidden;
}


#lives {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    flex-shrink: 0;
    gap: 30px;
    flex: 1;
    align-items: center;
    /* background-color: red; */
    bottom: 0
    
}

#lives > div {
    /* width: 25vw; */
    /* height: 10vh; */
    border: 0.5px solid gray;
}

#popup {
    position: absolute;
    /* width: 600px;
    height: 450px;; */
    background-color: none;
    font-family: titleFont;
    font-size: 200px;
    color: #7cc539;
    align-items: center;
    top: calc(50% - 100px);
    left: calc(50% - 350px); 
}

.card:not(.flipped) > img {
    display: none;
}

.card.flipped > img {
    display: block;
}

.card > img {
    height:fit-content;
    width: 100%;
}


